*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.cabeçalho { 
    background-color: #fdfdfd;
    color: rgb(87, 76, 76);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;
}

.Escola{
    background-image: linear-gradient(#ffffff,#5eecb1);
    color: rgb(31, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 40%;
}

.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 4px;
    background-color: #5eecb1;
}

.estudante-div{
   text-align: center;
   background-color: #5eecb1;
}
.Entre-em-contato-titulo{
    text-align: center;
    padding: 50px 0;
    background-color: #5eecb1;
}

.Entre-em-contato-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.rodape{
   background-color: #5eecb1;
    text-align: center;
    height: 150px;
}
.rodape-imagem{
    background-color: #5eecb1;
    height: 70px;
    padding: 12px 0;
}
.Whatsapp-link{
    background-color: #5eecb1;
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;

}

.whatsapp-info{
    height: 30px;

}






.titulo-final{
    background-color: #5eecb1;

    text-align: center;
}
.texto-final{
    background-color: #5eecb1;
  text-align: center;
  padding: 20px;
}
.logo-do-colegio{
    background-color: #5eecb1;
    align-items: center;
   
}
.ultimo-link{
    background-color: #5eecb1;
    text-align: center;
}